#
# Credits: silviu20092
#

[worldserver]

########################################
# Easy respawn module configuration
########################################
#
#    EasyRespawn.Active
#        Description: Comma separated values specifying where the system is active. The system takes effect for playerbots aswell.
#        Values: 0 - Disabled
#                1 - Works in dungeons
#                2 - Works in raids
#                4 - Works in open world
#        Examples: If you want the system active in dungeons & open world only (so not in raids), just use the respective values 1,4
#                  If you want to disable the system, just use 0
#        Default: 1,2,4 - active everywhere
#

EasyRespawn.Active = 1,2,4

#
#    EasyRespawn.ResurrectPct
#        Description: When player is automatically resurrected, sets the current health percentage.
#        Values: Between 0.1 (resurrected with 10% health) an 1 (100% health). A value of 0.5 means the player will be resurrected with half hp.
#        Default: 1
#

EasyRespawn.ResurrectPct = 1

#
#    EasyRespawn.DisabledMapIds
#        Description: Disable specific maps for easy respawn system.
#        Values: Map ids separated by commas. Leave empty to not disable anything.
#                Add 631 for example to disable the system in Icecrown Citadel.
#

EasyRespawn.DisabledMapIds =

#
#    EasyRespawn.InstanceRespawnLocation
#        Description: Determines where the player respawns when resurrecting inside an instance.
#        Values: 1 - respawns inside the instance right at the entrance
#                2 - respawns outside the instance right at the entrance
#        Default: 2
#        Note: this is using internal AzerothCore area trigger storage to find the "go back" location for each instance (both for inside and outside). Outside triggers are not found
#              for some instances (for example ICC), so in this case if EasyRespawn.InstanceRespawnLocation is 2, the player will be resurrected inside the instance (acts as if it was set to 1).
#

EasyRespawn.InstanceRespawnLocation = 2

#
#    EasyRespawn.OpenWorldRespawnLocation
#        Description: Determines where the player respawns when resurrecting in open world.
#        Values: 1 - respawns immediately right at the corpse location
#                2 - respawns at the nearest graveyard
#                3 - respawns on top of the corpse (but stays ghost). This basically prevents the runback to the corpse in ghost form but you still need to wait the required time until resurrection is possible.
#        Default: 2
#        Note: If set to 1 the player will immediately respawn (maybe even with full HP if EasyRespawn.ResurrectPct is 1) so this can affect open world PVP experience for example.
#

EasyRespawn.OpenWorldRespawnLocation = 2

#
#    EasyRespawn.OverrideRespawnLocation.[MAP_ID]
#        Description: Be able to override default respawn location for specific maps.
#        Values: EasyRespawn.OverrideRespawnLocation.[MAP_ID] = new_map_id,pos_x,pos_y,pos_z,orientation
#        Example:
#            EasyRespawn.OverrideRespawnLocation.631 = 571,5788.0806,2071.0225,636.0642,3.6041362
#            This will overwrite the respawn location from map 631 (ICC) to the new coordinates: map 571 (Northrend), x = 5788.0806,  y = 2071.0225, z = 636.0642, o = 3.6041362
#

EasyRespawn.OverrideRespawnLocation.631 = 571,5788.0806,2071.0225,636.0642,3.6041362
